
html {
  font-size: 10px;
  font-family: 'Bubbler One', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 2px;
  color: green;
  text-align: center;
   }

p, li {
  font-size: 16;
  color: orange;
  line-height: 2px;
  
  }
