
html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #FBFBA6;
}

body {
  background-color: white;
  width: 500px;
  margin: 30 auto;
  padding: 0 20px 20px 20px;
  border: 5px dashed black
}
  
h1 {
  margin: 0 auto;
  font-size: 60px;
  letter-spacing: 2px;
  color: green;
  text-align: center;
  padding: 20px 0;
  text-shadow: 3px 3px 1px purple;
  
}

p, li {
  font-size: 16px;
  color: orange;
  line-height: 2;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
}
